@import ../../styles/variables

.sb
  position: absolute
  right: 0
  max-width: 100%

.toggle
  position: absolute
  background: none

.sidebar
  height: 100%
  background-color: $white
  top: 0

.sidebar, .menuButton
  box-shadow: 0 0 ($ms8 * 1rem) 0 $black

.active
  &:link, &:visited, &:hover, &:active
    color: $red
