@import ../../styles/variables

.modal
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  background: rgba(red($black), green($black), blue($black), 0.5)

.sb
  right: 0
  max-width: 100%

.toggle
  position: fixed
  top: $lnht * 1rem
  background: none

.sidebar
  position: fixed
  height: 100%
  background-color: $white
  top: 0

.sidebar, .menuButton
  box-shadow: 0 0 ($ms8 * 1rem) 0 $black

.active
  &:link, &:visited, &:hover, &:active
    color: $red
