@import ../../styles/variables

.sidebar
  max-width: 100%
  height: 100%
  background-color: $white
  position: absolute
  right: 0
  top: 0
  box-shadow: 0 0 ($ms8 * 1rem) 0 $black
  visibility: hidden

.open
  visibility: visible

.active
  &:link, &:visited, &:hover, &:active
    color: $red
